*{
	box-sizing: border-box;
}

body {
	background: #dbcfbe;
}

p {
	font-family: 'PT Serif', serif;
}
 li {
 	font-family: 'PT Serif', serif;
 }

.wrapper {
	vertical-align: center;
	width: 90%;
	margin: 0 auto;

}
/*/////////////////HEADER/////////////////////*/

.logo {
	text-align: center;
	margin-top: 0px
}
.main-logo {
	margin-top: 0px;
	height: 100px;
	width: 300px;
	vertical-align: center;
}

.logo-big{
	display: none;
}

.logo p {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Hammersmith One', sans-serif;
	font-weight: bold;
}

.logo-big p {
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Hammersmith One', sans-serif;
	font-weight: bold;
}
.navigation li{
	display: inline-block;
	color: #f0470f;
	font-weight: bold;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	text-decoration: underline;
	text-align: center;
}

.navigation {
	vertical-align: center;
	text-align: center;
	padding: 20px 0px;
}

.nav-item {
	font-family: 'Hammersmith One', sans-serif;
	margin: 0px 10px;
}


/*///////////////////////////////////BUILDERS///////////////////*/

h1 {
	font-size: 60px;
	font-family: 'Hammersmith One', sans-serif;
	color: 443526;
	text-align: center;
}

.info{
	padding-top: 20px;
}


/*//////////////////////////FORM//////////////////*/

 ul {
 	text-decoration: none;
 	list-style-type: none;
 	list-style: none
 }

 form {
 	text-decoration: none;
 	list-style-type: none;
 	padding: 40px 0px 40px 0px;
 }

.builders section{
	background-color: #e2d9cb;
	padding: 20px;
	margin: 10px;
}

.name {
	background: none;
	width: 100%;
}

.name label {
	font-family: 'Hammersmith One', sans-serif;
	/*display: inline-block;*/
	font-weight: bold;
}

/*.name input{
	display: inline-block;
}
*/

.name-text{
	padding: 10px 0px;
}


.button {
	height: 40px;
	width: 100%;
	background-color: #f0470f;
	color: white;
	font-weight: bold;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16px;
	list-style-type: none;
	text-decoration: none;
	border-color: #b83d14;
}

.section li{
	color: #443526;
}

.other {
	margin-left: auto;
}


/*////////////////////////////////INSPIRATION//////////////////*/

h3{
	color: #443526;
	font-size: 20px;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-weight: bold;
	padding: 30px 0px;
}


article {
	background-color: #624c37;
	text-align: center;
	margin: 10px;
	padding: 10px;
	height: auto;
	width: auto;
}

h4 {
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	margin: 0px;
	padding-top: 20px;
}

.inspiration li {
	color: white;
	font-size: 15px;
	text-align: center;
}

.inspiration ul{
	padding: 20px 30px 20px 30px;
}



/*////////////////////////PAGE NUMBERS///////////////////////*/

.numbers {
	display: inline-block;

}

.numbers li{
	display: inline-block;
}

.numbers a{
	display: inline-block;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	background-color: #e2d9cb;
	color: #f0470f;
	text-decoration: underline;
}

.pagination ul{
	width: 100%;
	text-align: center;
}

.pagination li:first-child{
	text-align: left;
	width: 50%;
}

.pagination li:last-child{
	text-align: right;
	width: 50%;
}

/*//////////////////////////MEDIA QUERIES/////////////////*/

@media screen and (min-width: 480px){
	.name label{
		display: inline-block;
	}
	.name button{
		display: inline-block;
	}
	.name {
		display: inline-block;
		width: 100%;
		
	}

	.name-text {
		display: inline-block;
		padding-right: 10px;
	}

	.button {
		display: inline-block;
		width: 20%;
	}

@media screen and (min-width: 760px){

}

@media screen and (min-width: 1020px){
	.three {
		margin-left: auto;
	}

	.logo-big{
		display: inline-block;
	}

	.nav li {
		display: inline-block;
	}

	.nav-item {
		margin: 0px 80px;
	}
	.navigation {
		padding: 0px 0px 20px;
	}

	.logo {
		display: none;
	}
}

@media screen and (min-width: 1241px){
		.logo {
		display: none;
	}

	.other {
		width: 80%;
	}

	.input-name{
		width: 80%;
		height: 40px;
	}

	.name-text{
		width: 79%;
	}

	.button{
		margin-top: 10px;
	}
}



